
 *{
  font-family: 'Orbitron', sans-serif;
}

 .container{
  background: linear-gradient(180deg, #63C45A 25%, rgb(0, 167, 154) 100%);
}

h1{
  padding-top: 3rem;
}

#vueltas{
  width: 75%;
  min-height: 20rem;
  height: fit-content;
  border-width:5px !important;
  font-size: 25px;

}
.reloj {
  padding: 1rem;
  display: flex;
  text-align: center;
  font-size: 35px;
  width: fit-content;
  background: lightcyan;
  border-style: dashed;
}

.valores{
 
  margin-left: 2rem;
 
 }
