#contenedor{
  position: relative;
  right:250px;
}

#crono {
  position: absolute;
  width: 500px;
  height: 500px;
  left: 50%;
}
#flecha {
  height: 160px;
  position: absolute;
  top: 205px;
  left: 69%;
}


#tiempoCrono {
  position: absolute;
  top: 500px;
  font-size: 40px;
  left: 760px;
  background: lightcyan;
  border-style: dashed;
}
